p {
  font-size: 20px;
}
.pimg1,
.pimg2,
.pimg3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pimg1 {
  background-image: url("me1.jpg");
  min-height: 400px;
}
.pimg2 {
  background-image: url("https://c0.wallpaperflare.com/preview/944/356/969/concept-construction-page-site.jpg");
  min-height: 400px;
}

.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: rgb(4, 7, 82);
  color: #ddd;
}
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ptext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .pimg1 .pimg2 {
    background-attachment: scroll;
  }
}
.pic1,
.pic2,
.pic3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.pic1 {
  background-image: url("Me.jpg");
  min-height: 400px;
}
.pic2 {
  background-image: url("My\ family.jpg");
  min-height: 400px;
}
.pic3 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQThHslGkYuOwTRMtdqUG1eT8mZtOEQg6UlyOE8mAiw9c1C_UwmFfF2dCpDbIlGGwbuT0I&usqp=CAU");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: rgba(4, 56, 82, 0.488);
  color: #ddd;
}
.mytext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.mytext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .pic1 .pic2 .pic3 {
    background-attachment: scroll;
  }
}
.on1,
.on2,
.on3,
.on4,
.on5 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.on1 {
  background-image: url("Fariba.jpg");
  min-height: 400px;
}
.on2 {
  background-image: url("Lazara.jpg");
  min-height: 400px;
}
.on3 {
  background-image: url("Abiat.jpg");
  min-height: 400px;
}
.on4 {
  background-image: url("Parisha.jpg");
  min-height: 400px;
}
.on5 {
  background-image: url("Rudaina.jpg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: rgba(4, 56, 82, 0.488);
  color: #ddd;
}
.mtext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.mtext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .on1 .on2 .on3 .on4 .on5 {
    background-attachment: scroll;
  }
}
.photo1,
.photo2,
.photo3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.photo1 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdYmNMl7sIuE3_zekAtL60wRtW_FrodgeG8g&s");
  min-height: 400px;
}
.photo2 {
  background-image: url("https://wallpapercat.com/w/full/5/a/e/698172-2560x1369-desktop-hd-harvard-university-background.jpg");
  min-height: 400px;
}
.photo3 {
  background-image: url("https://www.mua.edu/uploads/sites/10/2023/02/different-types-of-surgeon.webp");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: rgba(4, 56, 82, 0.488);
  color: #ddd;
}
.ctext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.ctext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .photo1 .photo2 .photo3 {
    background-attachment: scroll;
  }
}
.stc1,
.stc2,
.stc3 {
  position: relative;
  opacity: 0.7;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.stc1 {
  background-image: url("jamidar\ bar.jpg");
  min-height: 400px;
}
.stc2 {
  background-image: url("shonshod\ bhaban.jpg");
  min-height: 400px;
}
.stc3 {
  background-image: url("padma\ sethu.jpg");
  min-height: 400px;
}
.section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background-color: rgba(4, 56, 82, 0.488);
  color: #ddd;
}
.dtext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.dtext .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
  opacity: 0.7;
}
@media (max-width: 568px) {
  .stc1 .stc2 .stc3 {
    background-attachment: scroll;
  }
}
